@font-face {
    font-family: "Koruri";
    src: url("../font/Koruri-Bold.ttf") format("truetype");
    src: url("../font/Koruri-Extrabold.ttf") format("truetype");
    src: url("../font/Koruri-Light.ttf") format("truetype");
    src: url("../font/Koruri-Regular.ttf") format("truetype");
    src: url("../font/Koruri-Semibold.ttf") format("truetype");
}

* {
    font-family: "Koruri";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ac2737;
    height: 100%;

    text-align: center;
    align-items: center;
}

main {
    margin-bottom: 0;
    padding: 0;
}

.top {
    background-color: white;
    width: 100%;
}

.top img {
    width: 100%;
    object-fit: contain;
}

.btn:hover {
    opacity: 0.9;
}

.contact1 {
    position: absolute;
    object-fit: contain;
    height: 13%;
    top: 75%;
    left: 16%;
}

.contact2 {
    position: absolute;
    object-fit: contain;
    height: 19%;
    top: 0;
    right: 0;
}

.mail {
    position: absolute;
    object-fit: contain;
    height: 7%;
    bottom: -535%;
    right: 16.5%;
}

.tel {
    position: absolute;
    object-fit: contain;
    height: 7%;
    bottom: -543%;
    right: 16.5%;
}
